.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }

.digits {
   height: 60px;
   width: 60px;
   border-radius: 100%;
   color: white;
   background-color: steelblue;
   font-size: 28px;
   box-shadow: 2px 2px #322c2d;
   border: 1px solid black;

}  

.ops {
    height: 60px;
   width: 60px;
   border-radius: 100%;
   color: white;
   background-color: darkcyan;
   font-size: 28px;
   border: 1px solid black;
   box-shadow: 2px 2px #322c2d;
}

.unique {
    height: 60px;
   width: 60px;
   border-radius: 100%;
   color: white;
   background-color: darkturquoise;
   font-size: 28px;
   border: 1px solid black;
   box-shadow: 2px 2px #322c2d;
}